body {
  font-family: Courier;
}

h1 {
  font-family: Courier;
}

h2 {
  font-family: Courier;
}

h3 {
  font-family: Courier;
}

h4 {
  font-family: Courier;
}

title {
  font-family: Courier;
}

button {
  font-family: Courier;
  color: white;
  background-color: black;
}
